<!--http://shapebootstrap.net/demo/html/corlate/-->
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li *ngFor="let slider of data.content.sliders;let i=index" data-target="#main-slider" [class.active]="i==0" [attr.data-slide-to]="i"></li>
        </ol>
        <div class="carousel-inner">
            <div *ngFor="let slider of data.content.sliders;let i=index;" class="item" [class.active]="i==0" [background-image]="slider.lgImage">
                <div class="container">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            <h1 class="animation animated-item-1">{{slider.title1}}</h1>
                            <h1 class="animation animated-item-2">{{slider.title2}}</h1>
                            <a class="btn-slide animation animated-item-3">更多</a>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                        <div class="slider-img">
                            <img [src]="slider.smImage" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>


<!-- 模态框（Modal） -->
<div class="modal fade" id="carouselModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">编辑图片轮播 
                    <button class="pull-right" style="margin-right:30px" md-raised-button color="warn" (click)="deleteMe()"><md-icon>delete</md-icon></button> </h4>
            </div>
            <div class="modal-body">

                <md-tab-group>
                    <md-tab>
                        <template md-tab-label>发布的模块</template>
                        <template md-tab-content>
                            发布的模块
                        </template>
                    </md-tab>
                    <md-tab>
                        <template md-tab-label>当前模块数据</template>
                        <template md-tab-content>
                            <!--添加轮播图片-->

                            <md-list [class.border-primary]="true">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <md-list-item>
                                            <md-input placeholder="新轮播 -> title1" #newSliderTitle1>
                                                <md-hint>推荐字数10-20 当前字数 {{newSliderTitle1.characterCount}}/20</md-hint>
                                            </md-input>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-input placeholder="新轮播 -> title2" #newSliderTitle2>
                                                <md-hint>推荐字数10-20 当前字数 {{newSliderTitle2.characterCount}}</md-hint>
                                            </md-input>
                                        </md-list-item>
                                        <md-list-item>
                                            <input (change)="uploadImage({file:selectLgImage.files[0], previewImage:previewLgImage})" type="file" [style.display]="'none'"
                                                #selectLgImage />
                                            <md-input placeholder="自定义图片地址" #customLgImageInput>
                                                <span md-prefix [label-for]="selectLgImage"><button md-raised-button color="accent">上传图片</button></span>
                                                <span md-suffix>推荐:1400:730</span>
                                            </md-input>
                                        </md-list-item>
                                        <md-list-item>

                                            <md-input placeholder="自定义中间图片地址" #customSmImageInput [style.width]="'100%'">
                                                <span md-prefix [label-for]="selectSmImage"><button md-raised-button color="accent">上传图片</button></span>
                                                <span md-suffix>推荐:406*590</span>
                                            </md-input>

                                            <input type="file" (change)="uploadImage({file:selectSmImage.files[0],previewImage:previewSmImage})" [style.display]="'none'"
                                                #selectSmImage />
                                        </md-list-item>
                                        <md-list-item>
                                            <button (click)="addNewSlider({title1:newSliderTitle1.value,
                                    title2:newSliderTitle2.value,lgImage:previewLgImage.src,smImage:previewSmImage.src})"
                                                md-raised-button color="primary">添加</button>
                                            <button md-raised-button color="warn" (click)="newSliderTitle1.value=newSliderTitle2.value=customLgImageInput.value=customSmImageInput.value=null;">
                                    重置</button>
                                        </md-list-item>
                                    </div>

                                    <div class="col-xs-7">
                                        <img #previewLgImage [src]="customLgImageInput.value" class="img-responsive">
                                        <img #previewSmImage [src]="customSmImageInput.value" class="img-responsive">

                                    </div>
                                </div>
                            </md-list>

                            <md-list *ngFor="let slider of data.content.sliders;let i = index;" [class.border-red]="true">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <md-list-item class="h1">Slider {{i+1}} of {{data.content.sliders.length}}
                                            <button md-fab color="primary" *ngIf="i!=0 " (click)="upSlider(slider)"><md-icon fontSet="fa" fontIcon="fa-long-arrow-up"></md-icon> </button>
                                            <button md-fab color="primary" *ngIf="(i+1)!=data.content.sliders.length" (click)="downSlider(slider)">
                                                <md-icon fontSet="fa" fontIcon="fa-long-arrow-down"></md-icon></button>
                                            <button md-fab color="warn" (click)="deleteSlider(slider)"> <md-icon>delete</md-icon></button> </md-list-item>
                                        <md-list-item>
                                            <md-input placeholder="标题1" [(ngModel)]="slider.title1" [style.width]="'100%'"></md-input>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-input placeholder="标题2" [(ngModel)]="slider.title2" [style.width]="'100%'"></md-input>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-input placeholder="背景图片" [(ngModel)]="slider.lgImage"></md-input>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-input placeholder="中间图片" [(ngModel)]="slider.smImage"></md-input>
                                        </md-list-item>
                                    </div>
                                    <div class="col-xs-6">
                                        <img class="img-responsive" [src]="slider.lgImage" />
                                        <img class="img-responsive" [src]="slider.smImage" />
                                    </div>
                                </div>
                            </md-list>



                        </template>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->