<section>
    <div class="container">



        <!-- our-team -->
        <div class="team">
            <div class="center wow fadeInDown">
                <h2>{{data.content.title}}</h2>
                <p class="lead">{{data.content.subTitle}}</p>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6" *ngFor="let person of data.content.persons;let i =index" [class.col-md-offset-2]="i!=0">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="{{person.picture}}"
                                        alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>{{person.name}}</h4>
                                <h5>{{person.job}}</h5>
                                <ul class="tag clearfix">
                                    <li class="btn" *ngFor="let goodat of person.goodats"><a >{{goodat}}</a></li>
                                    
                                </ul>

                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/.media -->
                        <p>{{person.info}}</p>
                    </div>
                    <div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div>
                </div>
                <!--/.col-lg-4 -->
            </div>

             

        </div>
        <!--section-->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->