<section class="feature">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Features</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore
                magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="row">
            <div class="features">
                <div *ngFor="let featureItem of data.content.featureItems" class="col-md-4 col-sm-6 wow fadeInDown animated"  data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="{{featureItem.icon}}"></i>
                        <h2>{{featureItem.summary}}</h2>
                        <h3>{{featureItem.detail}}</h3>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>



<!-- 模态框（Modal） -->
<div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >特色编辑 
                    <button md-raised-button color="warn" (click)="deleteMe()"><md-icon>delete</md-icon></button>
                </h4>
                
            </div>
            <div class="modal-body">
                        <md-tab-group>
                    <md-tab *ngFor="let featureItem of data.content.featureItems;let i = index;">
                        <template md-tab-label>{{i}} / {{data.content.featureItems.length}}</template>
                        <template md-tab-content> 
                            <div class="col-xs-6">
                            <md-input disabled [(ngModel)]="featureItem.icon" class="feature-wrap">
                                <span md-prefix><i class="{{featureItem.icon}}"></i>  </span>
                            </md-input>
                            <md-input [(ngModel)]="featureItem.summary" placeholder="简述"  style="width:100%"></md-input>
                            <md-input [(ngModel)]="featureItem.detail"  placeholder="详情" style="width:100%"></md-input>
                            </div>
                            <div class="col-xs-6 feature-wrap">
                                <md-radio-group [(ngModel)]="featureItem.icon">
                                <md-radio-button class="col-xs-4" *ngFor="let optionFeatureItem of optionFeatureItems" [value]="optionFeatureItem">
                                     <i class="{{optionFeatureItem}}"></i> 
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </template>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
        
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
